#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#example {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 500px;
  height: 500px;
}

body.focus {
  overflow: hidden;
}
